name: vulnerable

on:
  schedule:
    - cron: "0 9 * * 0" # every Sunday at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  nix:
    runs-on: ubuntu-24.04
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@e785b8c9ec9fda8072a535786ee5db33429afe4e # v1.12.0
        with:
          shell: vulnerable

      - name: Run flake-checker
        run: flake-checker -f

      - name: Build
        run: nix build -o result

      - name: Run vulnix
        uses: spotdemo4/vulnix-action@4f253efd78d494f8e9ccd38d9c1b43d54b13e957 # v1.1.0
        with:
          path: result
          score: 7

  actions:
    runs-on: ubuntu-24.04
    steps:
      - name: Initialize
        uses: spotdemo4/nix-init@e785b8c9ec9fda8072a535786ee5db33429afe4e # v1.12.0
        with:
          shell: vulnerable

      - name: Run octoscan
        run: octoscan scan --verbose .github
